body {
    font-family: Arial, sans-serif;
    background-color: #4242e2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    user-select: none; 
}

  
.universal{
  display: flex;
  overflow: hidden;
  height: 560px;
  width: 741px;
  border-radius: 12px;
}

.login-back{
    height: 560px;
    width: 390px;
}


.login-container{
    position: absolute;
    padding: 20px;
    height: 520px;
    width: 350px;
    border-right: 0.2px solid#000;  
}

.image{
  height: 560px;
  width: 350px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}

.image>img{
  height: 560px;
  width: 350px;
  object-fit: cover;
}

h2 {
    text-align: center;
    color: #333;
    font-size: 35px;
    font-weight: 15px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-size: 14px;
}

input {
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 93%;
    background: transparent;
    color: #000;
}

input:hover{
  box-shadow: 0.1px 0.2px 2px #8e8d8d inset;
}

.btn {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 30px;
    
}

.btn:hover {
    background-color: #0056b3;
}

.divider {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.divider hr {
    flex: 1;
    border: none;
    height: 1px;
    background-color: #ccc;
}

.divider span {
    margin: 0 10px;
    color: #777;
}

.social-login button {
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    color: white;
}

.google-login {
    background-color: #db4437;
}

.google-login:hover {
    background-color: #c23321;
}

.facebook-login {
    background-color: #3b5998;
}

.facebook-login:hover {
    background-color: #30487b;
}





